body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


 ul {
    padding-top: 10px;
}

li  {
    padding: 10px;
}

#categoryItemList {
    margin-top: 25px;
}

.expandedNodeMargin {
    margin-left: 28px;
}
